@font-face {
  font-family: "sansation";
  src: url("../fonts/Sansation_Regular.ttf") format("truetype");
}
header h1 {
  font-size: 66px;
}

h1, h2, h3, aside {
  font-family: "sansation", sans-serif;
}

#main-content h1 {
  font-family: "sansation", sans-serif;
}

#main-content h2 {
  font-family: "sansation", sans-serif;
}

#main-content h3 {
  font-family: "sansation", sans-serif;
}
