---
---

@import "{{ site.theme }}";

@font-face {
	font-family: 'sansation';
	src:
		url('../fonts/Sansation_Regular.ttf')
		format('truetype');
}

h1,h2,h3,aside { font-family: 'sansation', sans-serif; }

#main-content h1,h2,h3 { font-family: 'sansation', sans-serif; }

